@font-face {
  font-family: Ubuntu;
  src: url(fonts/Ubuntu-Regular.ttf);
}

/* css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #e6f8f6;
  --color-3: #0daf9a;
  --color-2: #03414d;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Ubuntu;
  font-size: 1.5rem;
  line-height: 1.6;
  background: #00000033;
  /* color:white; */
}

header {
  width: 100%;
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--color-3);
}
nav h2 {
  color: white;
  font-size: 2rem;
}

.desknav {
  display: none;
}

section {
  padding-top: 65px;
}

img {
  width: 100px;
}

@media (min-width: 425px) {
  .desknav {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }

  .desknav li a,
  .desknav li a:visited {
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.4rem;
  }

  .desknav li a:hover,
  .desknav li a:focus {
    background: white;
    color: var(--color-3);
    border-radius: 0.8rem;
  }

  .mobnavbutton {
    display: none;
  }
}
