/* Global reset  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility classes */

.rounded {
  border-radius: 50vw;
}

/* end of utility classes */

/* main css  */

header {
  display: flex;
  justify-content: end;
  padding: 10px 10px;
  margin: 10px;
  border: 2px solid hsl(241, 74%, 38%);
  border-radius: 1rem;
}

.nav-links {
  padding: 8px 8px;
  font-size: 1.4rem;
  text-decoration: none;
}

.nav-links,
.nav-links:visited {
  color: hsl(241, 74%, 38%);
  border-radius: 2rem;
}

.nav-links:hover,
.nav-links:focus {
  background-color: hsla(219, 78%, 46%, 0.87);
  color: #fff;
}


.profile-picture img {
  width: 35%;
  height: auto;
  float: left;
  margin: 0px 50px 30px 50px;

}

/* end of main css  */